<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title th:text="${status} +' '+ ${error}">404 Not Found</title>
</head>
<body>
<h1>
<span th:text="${status} +' '+ ${error} +'.'">404 Not Found</span>
</h1>
<div th:text="${timestamp}">2011/11/23</div>
<div th:text="'There was an unexpected error (type='+ ${error} +', status='+ ${status} +').'">There was an unexpected error (type=error, status=status).</div>
<div th:text="${message}">message</div>
</body>
</html>