<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>

<!-- <included> -->

	<!-- common settings -->
	<property name="ROOT_LEVEL" value="INFO" />

	<!-- 独自loggerのクラスを出力しないためのListener -->
	<contextListener class="jp.co.sraw.listener.AddLoggerContextListener"/>

	<!-- base.xmlを元にFILEを変更 -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
		<file>${LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 拡張子がzip,gzの場合は圧縮ファイルとなる -->
			<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
			<!-- 30days -->
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 10MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<root level="${ROOT_LEVEL}">
		<!-- <appender-ref ref="CONSOLE" /> -->
		<appender-ref ref="FILE" />
	</root>

<!-- </included> -->

</configuration>
