<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/baseAccount"
	th:with="lang=${#locale.language}"
	th:lang="${lang}">
<head>
<meta charset="UTF-8"/>
</head>
<!-- current link -->
<th:block layout:fragment="layout-link">

</th:block>

<!-- current script -->
<th:block layout:fragment="layout-script">
<script th:inline="javascript">
$().ready(function() {
	// <!--/*  Registボタン押下イベント設定 */-->
	$("button[name='confirm'][class~='confirm']").click(function() {
		// <!--/* 多重送信を防ぐため通信完了までボタンをdisableにする */-->
		var button = $(this);
		button.attr('disabled', true);
		var confirmMsg = /*[[#{message.confirm.confirm}]]*/ '確認？';

		if (window.confirm(confirmMsg)) {
			$('#formConfirm').submit();
		}
		//
		button.attr("disabled", false);
	});
});
</script>
</th:block>


<body>

<div layout:decorator="layout">
	<th:block layout:fragment="layout-content">
	<div>
	<!-- Start -->

		<!--/* アカウント本登録 入力 */-->
		<form th:action="@{/account/confirm}" method="post" role="form" autocomplete="off" th:object="${form}" id="formConfirm" name="form">
		<div class="panel-group">
			<div class="panel-body">
			<div class="form-group col-xs-8" role="group">
				<label for="inputMailAddress" th:text="#{mailAddress}">Email</label>
				<input type="text" class="form-control" id="inputMailAddress" value="" name="mailAddress" th:placeholder="#{field.placeholder.input.email}" th:field="*{mailAddress}"/>
				<button type="button" class="btn btn-primary confirm" name="confirm" th:text="#{button.regist}">登録</button>
			</div>
			</div>
		</div>
		</form>

	<!-- End -->
	</div>
	</th:block>
</div>

</body>
</html>