<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:with="lang=${#locale.language}"
	th:lang="${lang}">
<head>
<meta charset="UTF-8"/>
</head>
<body>
	<aside class="main-sidebar" th:fragment="common_menu">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- Sidebar user panel (optional) -->
			<div class="user-panel">
				<div class="pull-left image">
					<img src="/gfx/face.gif" class="img-circle" alt="User Image" th:src="@{/gfx/face.gif}" />
				</div>
				<div class="pull-left info">
					<p th:inline="text" th:if="${#httpServletRequest.remoteUser != null}">[[${userInfo.targetUserName}]]!</p>
					<p th:inline="text" th:if="${#httpServletRequest.remoteUser == null}">ようこそ ゲスト さん。</p>
				</div>
			</div>
			<!-- Sidebar Menu -->
			<ul class="sidebar-menu">
				<li class="header" th:text="#{system.public.menu.title}">MAIN NAVIGATION</li>
				<li class="treeview" th:if="${#httpServletRequest.remoteUser != null}" th:each="menu,iterStat : ${menuList}">
					<a href="#">
						<i class="fa fa-folder"></i>
						<span th:attr="data-parent='#menuAccordion'+${iterStat.count}" th:text="${menu.menuName}">eポートフォリオ</span>
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu" th:id="'menuLink'+${iterStat.count}">
						<li class="" th:each="subMenu,subIterStat : ${menu.subMenuList}">
							<a href="xxx" th:href="@{${subMenu.actionUrl}}" th:text="${subMenu.menuName}" th:title="${subMenu.menuName}">
								<i class="fa fa-caret-right"></i>
								ポートフォリオ表示
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- /.sidebar-menu -->
		</section>
		<!-- /.sidebar -->
	</aside>
</body>
</html>