<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/base" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<head>
<meta charset="UTF-8" />
</head>
<!-- current script -->
<th:block layout:fragment="layout-script">
	<script th:inline="javascript">
		$().ready(function() {
			// validate signup form on keyup and submit
			$("#societyForm").validate({
				rules : {
					title : {
						required : true,
						maxlength : 100
					}
				},
			});
		});

		$(function() {
			$('#publicationdate').datepicker({
				language : /*[[${lang == 'ja' ? 'ja' : 'en'}]]*/'ja',
				format : /*[[#{format.ymd.input}]]*/'YYYY/MM/DD'
			});
		});
	</script>
</th:block>
<body>

	<div layout:decorator="layout">
		<th:block layout:fragment="layout-content">
			<!-- Start -->
			<form th:action="@{/portfolio/society/update}" method="post"
				role="form" autocomplete="off" th:object="${form}" id="societyForm"
				name="form">
				<input type="hidden" name="pageMode" th:value="${form.pageMode}" />
				<input type="hidden" name="gyosekiKey" th:value="${form.gyosekiKey}" />
				<input type="hidden" name="updDate" th:value="${form.updDate}" />
				<!-- !title -->
				<h1>所属学協会（編集）</h1>
				<!-- !menu -->
				<menu>
					<ul>
						<li><button type="submit" class="btn btn-primary regist"
								name="regist" th:text="#{button.regist}">登 録</button></li>
						<li><button type="button" class="btn btn-primary" value="戻 る"
								onclick="location.href='/portfolio/society/'">戻 る</button></li>
					</ul>
				</menu>
				<!-- !登録 -->
				<h2>所属学協会（編集）</h2>
				<br />
				<div th:if="${validationError}">
					<span th:text="${validationError}">xxxxx</span>
				</div>
				<table class="boxf01">
					<tr>
						<th><font color="red">*</font>公開設定：</th>
						<td><input type="radio" name="publicFlag"
							th:each="item: ${list0024}" th:value="${item.code}"
							th:checked="${item.code == form.publicFlag}"
							th:text="${item.value}" /><label for="new1"></label></td>
					</tr>
					<tr>
						<th><font color="red">*</font>業績リスト(論文)・言語フラグ：</th>
						<td><select name="protfolioLanguage" th:field="*{language}">
								<option th:value="ja">日本語</option>
								<option th:value="other">その他</option>
						</select></td>
					</tr>
					<tr>
						<th><font color="red">*</font>所属学協会名称：</th>
						<td><input type="text" name="title" th:field="*{title}" /></td>
					</tr>
				</table>
			</form>
			<!-- End -->
		</th:block>
	</div>

</body>
</html>